# Basic output

In [5]:
print("hello world","I am ridwan", sep=" & ", end=" ?")

hello world & I am ridwan ?

In [10]:
var = "rdwan"
print(var)
print("My name is", var)

rdwan
My name is rdwan

# Variable

In [14]:
print(id(var)) #id(var)
import sys
print(sys.getrefcount(var)) 
print(sys.getsizeof(var))

1981542298752
2
46

In [ ]:
x = 100
y = 100
print(id(x))
print(id(y)) # here both address are same because they are same object
print(x == y) # here it will be true because they are same object

140717596292632
140717596292632
True
True

In [18]:
# invalid variable name  _name, 1name, name1, name@, var-1

# multiple variables in single line
x, y, z = 10, 20, 30
print(x,y,z)

10 20 30

# String

In [24]:
import sys

x = input() # 10
y = input() # 20
print(type(x))
print(x+y) # 1020 because x and y are string
print(int(x)+int(y)) # 30
sys.getsizeof(x)

<class 'str'>
1020
30

43

In [35]:
# string methods
x = "hello world"
print(x.upper())
print(x.lower())
print(x.split())
print(x.split("l"))
print(x.__len__())
print(x.count("l"))
print(x.find("l"))
print(x.find("ll"))
print(x.find("l", 10))
print(x.capitalize())
print(x.title())
print(x.swapcase())
print(x.isdigit())
print(x.isalpha())
print(x.isalnum())
print(x.center(20))
print(x.ljust(20))
print(x.rjust(20))
print(x.replace("l","L"))

HELLO WORLD
hello world
['hello', 'world']
['he', '', 'o wor', 'd']
11
3
2
2
-1
Hello world
Hello World
HELLO WORLD
False
False
False
    hello world
hello world
         hello world
heLLo worLd

# Data types

In [6]:
# numeric data

x = 10
y = 10.8
z = 10+2j
print(type(x))
print(type(y))
print(type(z))

isinstance(y, int)

<class 'int'>
<class 'float'>
<class 'complex'>

False

In [9]:
z = int(z) #error because z is complex number

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
n = complex(input("Enter number: ")) # input 10
print(type(n))
print(n)
print(n.real)
print(n.imag)

<class 'complex'>
(10+0j)
10.0
0.0

In [ ]:
# sequence data

# list

L = [1,2,3,4,5] # its represented by []
print(L)
print(L[1]) # 2
print(L[-1]) # 5

# tuple

T = (1,2,3,4,5) # its represented by ()
print(T)
print(T[1]) # 2
print(T[-1]) # 5
print(T[1:4]) # (2,3,4)
print(type(T))

[1, 2, 3, 4, 5]
2
5
(1, 2, 3, 4, 5)
2
5
(2, 3, 4)
<class 'tuple'>

In [ ]:
# range

x = range(5,12,2)
print(x)

for i in x:
    print(i)
    
print(list(x))

range(5, 12, 2)
5
7
9
11
[5, 7, 9, 11]

In [ ]:
# array

import array as ar

a = ar.array([1,2,3,4,5]) #error because array is deprecated
print(a)

TypeError: array() argument 1 must be a unicode character, not list

In [17]:
a = ar.array('i', [1,2,3,4,5]) # you have to specify the data type
print(a)

b = ar.array('f', [1.5,2,3,4,5]) # you have to specify the data type
print(b)

array('i', [1, 2, 3, 4, 5])
array('f', [1.5, 2.0, 3.0, 4.0, 5.0])

In [ ]:
# set

s = {1,2,3,4,5}
print(s)

In [18]:
# dictionary

d = {"name":"ridwan", "age":20}
print(d)
print(d["name"])
print(d.get("name"))
print(d.keys())
print(d.values())
print(d.items())

{'name': 'ridwan', 'age': 20}
ridwan
ridwan
dict_keys(['name', 'age'])
dict_values(['ridwan', 20])
dict_items([('name', 'ridwan'), ('age', 20)])